<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Тест | @ViewBag.Title</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url('/images/86e609b7-2ed7-48fd-8e32-e4af10162b03.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
</head>

<body>
    
    <div>
        @RenderBody()
    </div>
</body>
</html>