@using WebApplication3.Models.Users
@model UserRegister
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/reg/step4.css" />
</head>
<form method="post">
    <div class="main">
        <div class="reg">
            <div class="leftSide">
                <p id="symb">
                    <img src="/images/symv.png" alt="Symbol" width="70" />
                </p>
                <h1 id="pls"> Пожалуйста проийдтие<br /> регистрацию</h1>
                <h2 id="pls1">Введите свой пароль</h2>
            </div>
            <div class="rightSide">
                <div>
                    <div class="pol">
                        <div>
                            <input type="text" asp-for="Password" class="wind" required />
                            <div class="Enter">Введите пароль</div>
                            <span asp-validation-for="Password" />
                        </div>



                        <div>
                            <input type="text" asp-for="PasswordRepl" class="wind" required />
                            <div class="Enter">Введите повтор пароля</div>
                            <span asp-validation-for="PasswordRepl" />
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <input type="submit" value="Отправить" class="button" />
                    </p>
                </div>

            </div>

        </div>

    </div>
</form>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>