@* окно с полями - прозрачное. Задние - какого-то белого оттенка. Может быть кнопки прозрачные *@
@model WebApplication3.Models.UserRegister
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Register";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="~/css/reg/step1.css" />
</head>
<body>
    <form method="post">
        <div class="main">
            <div class="reg">
                <div class="leftSide">
                    <p id="symb">
                        <img src="/images/symv.png" alt="Symbol" width="70" />
                    </p>
                    <h1 id="pls"> Пожалуйста проийдтие<br /> регистрацию</h1>
                    <h2 id="pls1">Введите свой никнэйм</h2>
                </div>
                <div class="rightSide">
                    <div>
                        <input type="text" asp-for="Name" class="wind" required />
                        <div class="Enter">Введите никнэйм</div>
                        <span asp-validation-for="Name" />
                    </div>
                    <div>
                        <input type="submit" value="Отправить" class="button" />
                    </div>
                    
                   

                </div>

            </div>
        </div>



    </form>
</body>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>