@{
    ViewBag.Title = "Autorisation";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
</head>
<body>
    <form method="post">
        <p><label for="Name">Логин</label></p>
        <p><input type="text" id="Name" name="Name" placeholder="Введите имя пользователя" size="18" /></p>
        <p><label for="Password">Пароль</label></p>
        <p><input type="password" id="Password" name="Password" size="18" /></p>
        <p><input type="submit" name="Submit" size="18" /></p>
        <p style="color:red;">@ViewBag.Message</p>
    </form>
</body>
</html>